<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Gif Maker</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
	<div class="jumbotron">
	
		<div class="container">
            <h1>Youtube-dl Gif Maker</h1>
            <a id="btnmadeGif" class="btn btn-lg btn-success" href="madeGif" type="button">Make a gif!</a>
        </div>

    </div>
</body>
 
</html>